body {
  background-color: azure;
}

hr {        
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 30%;
  }


  h1 {
    color: #66bff6;
  }

  h3 {
    color: #66bff6
  }